// Typography
$base-font-family: Arial, sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 14px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: 28px;
$small-spacing: $base-spacing / 2;

// Z-indexes
$z-index-top: 999999;
$z-index-1: 1;
$z-index-bottom: 0;

// Colors
$main-color: #4a4a4a;
$dark-color: #000;
$tint-color: #ccc;
$light-color: #fff;
$action-color: #002d72;
$bright-color: #ec5840;

// States colors
$tint-active-color: darken($tint-color, 6%);

// Background Colors
$base-background-color: $light-color;

// Font Colors
$base-font-color: $main-color;

// Font weights
$font-weight-normal: 400;
$font-weight-bold: 600;

// Border
$base-border-color: $tint-color;
$base-border: 1px solid $base-border-color;

// Shadows
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: inset 0 1px 3px rgba(#000, 0.1);

// Animations
$base-duration: 120ms;
$base-timing: ease;
