<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>HTML Gulp Boilerplate Manifest</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="css/app.css">

  <link rel="canonical" href="http://0.0.0.0:8080">
  <meta name="referrer" content="always">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  <link rel="manifest" href="manifest.json">
  <link rel="search" type="application/opensearchdescription+xml" title="Boilerplate" href="search.xml">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="B'plate">
  <meta name="apple-mobile-web-app-title" content="B'plate">

  <!-- Web app icons -->
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="images/icons/favicon.ico">

  <link rel="icon" sizes="192x192" href="images/icons/192x192.png">
  <link rel="icon" sizes="128x128" href="images/icons/128x128.png">

  <link rel="apple-touch-icon-precomposed" href="images/icons/152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icons/144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/icons/120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icons/114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icons/72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/icons/57x57.png">

  <link rel="mask-icon" href="images/icons/icon.svg" color="#000000">

  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="images/icons/144x144.png">

  <!-- Facebook -->
  <meta property="fb:page_id" content="8489236245" />
  <meta property="og:title" content="HTML Gulp Boilerplate Manifest">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Boilerplate">
  <meta property="og:url" content="http://0.0.0.0.0.0.0:8080/">
  <meta property="og:image" content="http://0.0.0.0.0.0.0:8080/images/icons/social_facebook.png">
  <meta property="og:image:width" content="">
  <meta property="og:image:height" content="">

  <!-- Twitter -->
  <meta property="twitter:account_id" content="15651700">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@htmlgulpboilerplate">
  <meta name="twitter:title" content="HTML Gulp Boilerplate Manifest">
  <meta name="twitter:description" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:src" content="http://0.0.0.0.0.0.0:8080/images/icons/social_twitter.png">
</head>

<body>
  <header role="banner">
    <nav role="navigation">

    </nav>
  </header>

  <main role="main">
    {% block content %}{% endblock %}
  </main>

  <footer role="contentinfo">

  </footer>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/picturefill.js"></script>

  <script src="js/app.js"></script>
</body>
</html>
